<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>THOORIGAII</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
<!--

TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>


  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo" >
      <!-- <a href="#"><em><i><span style="color:#ffffff">T</span>HOORIGAII</i><em></a> -->
            <img id="logo" src="assets/images/logo.png" alt="">
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/#section1">Home</a></li>
        <li><a href="#section2">About Us</a></li>
        <li><a href="#section4">Courses</a></li>
        <li><a href="#section6">Contact</a></li>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/adminLogin">Admin Login</a></li>
        <li><a href="https://templatemo.com" class="external">External</a></li>
      </ul>
    </nav>
    <style media="screen">
      .main-header{
        position:static;
      }
    </style>
  </header>


  <h1 style="text-align:center">Admin Dashboard</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">SNO</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Parent's Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Address</th>
      <th scope="col">Courses Selected</th>
      <th scope="col">Age Group</th>
      <th scope="col">Batch</th>
    </tr>
  </thead>
  <tbody>
      <% for (let i = 0; i < courses.length; i++) { %>
        <tr>
            <td scope="col"><%= i %></td>
            <td scope="col"><%= courses[i].name %></td>
            <td scope="col"><%= courses[i].phone %></td>
            <td scope="col"><%= courses[i].pname %></td>
            <td scope="col"><%= courses[i].dob %></td>
            <td scope="col"><%= courses[i].address %></td>
            <td scope="col"><%= courses[i].courses[0][0] %></td>
            <td scope="col"><%= courses[i].courses[0][1] %></td>
            <td scope="col"><%= courses[i].batch %></td>
        </tr>
        <% } %>
  </tbody>
  <tbody>

  </tbody>
</table>

  <footer>
    <div class="container">

          <p><i class="fa fa-copyright"></i> Copyright 2021 THOORIGAII

            <a  rel="sponsored" target="_parent"></a></p>
        </div>

  </footer>
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <!--<script src="assets/js/custom.js"></script>-->

</body>
</html>
